/.fabric
/icon.png
/logs
/modernfix
/options.txt
/realms_persistence.json
/resourcepacks
/saves
/screenshots
/server-resource-packs
/servers.dat_old
/shaderpacks
/texturepacks
/usercache.json
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap